body {
    font-family: 'Poppins';
}

.header {
    width: 100%;
    max-width: 1400px;
    margin: 30px, auto;
    padding-right: 145px;
    padding-left: 145px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.nav {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    }

.nav>li {
    margin-right: 30px;
    color: #2F281E;
}

.nav>li>a {
    text-decoration: none;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
}

.nav_btn_sign_in {
    background-color: #ffffff;
    border-color: #BCD0E5;
    color: #173A56;
    padding: 11px 22px 11px 25px;
    border-style: solid;
    border-width: 1px;
    border-radius: 4%;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.nav_btn_sign_in:hover {
    color: #FF9900;
}

.nav_btn_sign_out {
    background-color: #FF9900;
    border-color: #FF9900;
    color: #FFFFFF;
    padding: 11px 23px 11px 25px;
    border-style: solid;
    border-width: 1px;
    border-radius: 4%;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.nav_btn_sign_out:hover {
    background-color: #BCD0E5;
    border-color: #BCD0E5;
}

.logo {
    display: flex;
    align-items: center;
}

.logo_img {
    display: block;
    width: 190px;
    height: 35px;
    background-image: url(../images/logo.svg);
}

.page1 {
    width: 100%;
    max-width: 1126px;
    margin: 30px, auto;
    padding-right: 126px;
    padding-left: 145px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.text_block_1>h1 {
    width: 518px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 54px;
    color: #2F281E;
}

.text_block_1>p {
    width: 518px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #544837;
    margin-top: 30px;
}

.pic_1 {
    width: 100%;
    max-width: 605px;
}

.button_n_link {
    margin-top: 45px;
}

.btn_get_started {
    background-color: #FF9900;
    border-color: #FF9900;
    color: #FFFFFF;
    padding: 15px 41px 14px 41px;
    margin-right: 30px;
    border-style: solid;
    border-width: 1px;
    border-radius: 4%;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.btn_get_started:hover {
    background-color: #BCD0E5;
    border-color: #BCD0E5;
}

.button_n_link i {
    color: #FF9900;
    width: 20px;
    height: 17px;
    padding-right: 9px;
}

.button_n_link a {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #FF9900;
}

.button_n_link a:hover {
    color: #BCD0E5;
}

.page2>h2 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    color: #2F281E;
    margin-top: 110px;
    width: 100%;
    max-width: 539px;
    text-align: center;
}

.test_items {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.test_icon {
    width: 50px;
    height: 50px;
}

.listed_test_item {
    width: 240px;
    height: 178px;
}

.listed_test_item h3 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: #2F281E;
    margin-top: 30px;
}

.listed_test_item p {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #544837;
    margin-top: 13px;
}

.btn_sign_up_now {
    background-color: #FF9900;
    border-color: #FF9900;
    color: #FFFFFF;
    padding: 15px 32px 14px 34px;
    margin-right: 30px;
    border-style: solid;
    border-width: 1px;
    border-radius: 4%;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    margin-top: 49px;
    margin-bottom: 120px;
    justify-content: center;
}

.btn_sign_up_now:hover {
    background-color: #BCD0E5;
    border-color: #BCD0E5;
}

.page_3 {
    width: 100%;
    max-width: 1110px;
    margin: 120px, auto;
    padding-right: 145px;
    padding-left: 145px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.text_block_2>p {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #544837;
    width: 486px;
    margin-bottom: 0px;
}

.section_1 h2 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    color: #2F281E;
    width: 486px;
    margin-top: 3px;
}

.section_1 p {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #544837;
    margin-top: 22px;
}

.section_2 h4 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    color: #2F281E;
    margin-top: 30px;
}

.section_2 p {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #544837;
    margin-top: 12px;
}

.section_3 h4 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    color: #2F281E;
    margin-top: 25px;
}

.section_3 p {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #544837;
    margin-top: 12px;
}

.pic_2 {
    width: 100%;
    max-width: 520px;
    margin-bottom: 101px;
}

.page_4 {
    width: 100%;
    max-width: 1121px;
    margin: 101px, auto;
    padding-right: 135px;
    padding-left: 144px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    margin-bottom: 104px;
}

.check_box_items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    margin-top: 30px;
}

.check_box_items img {
    margin-right: 30px;
}

.check_box_items p {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #544837;
}

.footer {
    border-top: 1px solid #979797;
    width: 100%;
    max-width: 1109px;
    margin-left: 160px;
    margin-right: 131px;
}

.footer img {
    margin-top: 102px;
}

.footer_items {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    box-sizing: border-box;
    margin-bottom: 83px;
}

.row {
    padding-left: 129px;
}

.row a {
    text-decoration: none;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 35px;
    color: #544837;
}

.row a:hover {
    color: #FF9900;
}

.form {
    padding-left: 81px;
}

.input_box {
    background: #FFFFFF;
    border: 1px solid #BCD0E5;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 21px;
    width: 325px;
    height: 48px;
}

.btn_sign_up_footer {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    padding: 8px 15px 7px 15px;
    background-color: #FF9900;
    border-color: #FF9900;
    border-style: solid;
    border-width: 1px;
    border-radius: 4%;
}

.btn_sign_up_footer:hover {
    background-color: #BCD0E5;
    border-color: #BCD0E5;
}